
body {
    min-width: 480px;
    max-width: 960px;
    margin: 0 auto !important;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
}

ul {
    padding: 0;
}

li {
    list-style: none;
    border: 5px solid;
    border-radius: 15px;
}

.grid-item {
    /* max-width: 240px; */
    text-align: center;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid rgba(0, 0, 0, 0.8);
    /* color: black; */
    padding: 8px;
    font-size: 16px;
    overflow: hidden;
    margin: 6px;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
}

.grid-item img {
    max-width: 152px;

}

h3 {

}

p {
    margin: 0;
}

.grid-item span {
    font-size: 12px;
    font-weight: bold;
    color: white;
    border: 2px solid transparent;
    border-radius: 2px;
    margin: 0 1px;
    padding: 0 3px;
    line-height: 12px;
}

table {
    margin-top:10px;
    border-collapse: collapse;
    border-radius: 5px;
    border-style: hidden;
    box-shadow: 0 0 0 1px #333;
    width: 100%;
    font-size: 11px;
}

table th {
    border: 1px solid #333;
    /* background: white; */
    width: 16%;
    font-weight: normal;
}

table td {
    border: 1px solid #333;
    width: 16%;
}

span.bodydetail {
    color: black;
}

#apiStuff select {
    margin-left: 20px;
}

.itemHeader {
    display: flex;
    justify-content: space-between;
}

.itemHeader>h3 {
    color: #333 !important;
    display: inline-block;
    margin: 0;
    text-transform: capitalize;
    font-size: 16px;
}

.abilities span {
    color: black;
    display: block;
}